<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>注册</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/flexible.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="bg"></div>
<div class="page">
	<div id="hd">
		<div class="wp clearfix">
			<a href="index.html" class="hd-logo fl">
				<img th:src="@{/images/logo.png}">
			</a>
			<a href="javascript:;" class="nav-btn"></a>
			<div class="hd-nav fr">
				<div class="nav-top clearfix">
					<a href="index.html" class="nav-logo fl">
						<img th:src="@{/images/logo.png}">
					</a>
					<a href="javascript:;" class="nav-close fr"></a>
				</div>
				<a href="notice.html" class="nav-item">公告</a>
				<a href="rule.html" class="nav-item">规则说明</a>
				<div class="nav-item user">
					<span>账户</span>
					<div class="dropdown">
						<p>0xcd2a3d9f938e13cd947ec05abc7fe734df8dd826</p>
					</div>
				</div>
				<div class="nav-item balance">
					<span>Been余额</span>
					<div class="dropdown">
						<p>240</p>
					</div>
				</div>
				<a href="javascript:;" class="nav-item signout">退出</a>
				<div class="hd-login clearfix">
					<a href="login.html">登录</a>
					<a th:href="@{register.html}">注册</a>
				</div>
				<div class="nav-item recommend">
					<h4>推荐用户</h4>
					<div class="dropdown">
						<img th:src="@{/images/erweima.jpg}">
						<!--<p>https://www.foomoo5d.com/index.php/Home/Login/main.html</p>-->
						<a href="javascript:;" class="copy-btn">复制网址</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="login-page wp">
		<form class="form-style">
			<h3 class="top-text">欢迎注册王者归来！</h3>
			<div class="form-group">
				<input type="text" placeholder="用户名">
			</div>
			<div class="form-group">
				<input type="password" placeholder="登录密码">
			</div>
			<div class="form-group">
				<input type="password" placeholder="确认登录密码">
			</div>
<!--			<div class="form-group">
				<input type="text" placeholder="推荐人以太坊地址">
			</div>-->
			<button class="submit-btn">注册</button>
			<a href="login.html" class="form-link">已有账号，去登录 →</a>
		</form>
	</div>
</div>
</body>
</html>

