<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>规则说明</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/flexible.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="bg"></div>
<div class="page">
	<div id="hd">
		<div class="wp clearfix">
			<a href="index.html" class="hd-logo fl">
				<img th:src="@{/images/logo.png}">
			</a>
			<a href="javascript:;" class="nav-btn"></a>
			<div class="hd-nav fr">
				<div class="nav-top clearfix">
					<a href="index.html" class="nav-logo fl">
						<img th:src="@{/images/logo.png}">
					</a>
					<a href="javascript:;" class="nav-close fr"></a>
				</div>
				<a href="notice.html" class="nav-item">公告</a>
				<a href="rule.html" class="nav-item">规则说明</a>
				<div class="nav-item user">
					<span>账户</span>
					<div class="dropdown">
						<p>0xcd2a3d9f938e13cd947ec05abc7fe734df8dd826</p>
					</div>
				</div>
				<div class="nav-item balance">
					<span>Been余额</span>
					<div class="dropdown">
						<p>240</p>
					</div>
				</div>
				<a href="javascript:;" class="nav-item signout">退出</a>
				<div class="hd-login clearfix">
					<a href="login.html">登录</a>
					<a th:href="@{register.html}">注册</a>
				</div>
				<div class="nav-item recommend">
					<h4>推荐用户</h4>
					<div class="dropdown">
						<img th:src="@{/images/erweima.jpg}">
						<!--<p>https://www.foomoo5d.com/index.php/Home/Login/main.html</p>-->
						<a href="javascript:;" class="copy-btn">复制网址</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rule-page wp">
		<h3>规则说明</h3><br>
		<h4>王者归来以太坊智能合约分红夺宝游戏介绍</h4><br>
		<p>第一：下载以太坊钱包imtoke。</p>
		<p>第二：到数字货币交易平台购买自己所需要投资的以太坊，并放在imtoke。</p>
		<p>第三：在游戏平台或者市场领导人手中购买游戏中所使用的门票ROFK ，放在自己的imtoke 钱包里.（ROFK 门票会随着进场销毁会不断的减少，价格会不断的上涨！很快会上交易所自由交易）。</p>
		<p>第四：玩家把imtoke 钱包绑定游戏并注册，可以直接参与王者归来夺宝游戏。</p>
		<p>第五：游戏规则。</p>
		<h5>王者归来是一款24个小时倒计时夺宝游戏，时间清零游戏结束！</h5>
		<h5>所有玩家用以太坊进场兑换KEY和ROFK。</h5>
		<h5>KEY代表着时间钥匙，每投入一枚钥匙，时间自然延长一分钟，累计时间不超过24个小时。每消耗一个KEY，KEY的价格会上涨万分之一。</h5>
		<h5>分红比例按照玩家的投入的以太坊的数量来分红，玩家达到三倍出局，50%提现，50%必须进行复投！</h5>
		<h5>静态收益：所有玩家会分到总投资额的40%.按照轮盘转动分别分给三个战队，第一名分50%！其余两个战队各分25%！</h5>
		<h5>总投资的15%会自动到大奖金池，每轮开奖，最后一个玩家会分得奖金池的40%的奖金，倒数第2—10名分得25%，倒数11—150名分得15%，倒数151—500名分得10%。</h5>
		<h5>总投资的5%，每晚18点定时摇号开奖，20个名额均分。</h5><br>
		<p>第六：动态奖励.</p>
		<h5>动态奖励占总投资额的34%，分九层分红，推荐9个人可以拿9代。</h5>
		<h5>第一代10%</h5>
		<h5>第二代7%</h5>
		<h5>第三代5%</h5>
		<h5>第四代4%</h5>
		<h5>第五代3%</h5>
		<h5>第六代2%</h5>
		<h5>第七代1%</h5>
		<h5>第八代1%</h5>
		<h5>第九代1%</h5><br>
		<p>第七：每个会员进场，系统会自动分战队，目的是让每个会员都能得到公平，公开，公正，得到自己的分红比列，没有前后！奖金池分三个，分别为大奖金，每日爆点，100以太坊分红。</p>
		<p>第八：大奖开奖分为量开和定开。</p>
		<h5>5000–10000之间开第一次奖池中的40%！</h5>
		<h5>10000–20000之间开奖池中的50%</h5>
		<h5>20000–30000之间开奖池中的60%</h5>
		<h5>30000–40000之间开奖池中的70%</h5>
		<h5>40000–50000之间开奖池中的80%</h5>
		<h5>50000定开，正好到50000开最后的大奖90%分给最后的500名玩家剩下的10%奖金自动滚到下一轮.自动循环轮盘，进出有序，生生不息。</h5>
	</div>
</div>
</body>
</html>

