<div id="hd">
    <div class="wp clearfix">
        <a href="index.html" class="hd-logo fl">
            <img src="images/logo.png">
        </a>
        <a href="javascript:;" class="nav-btn"></a>
        <div class="hd-nav logged fr">
            <div class="nav-top clearfix">
                <a href="index.html" class="nav-logo fl">
                    <img src="images/logo.png">
                </a>
                <a href="javascript:;" class="nav-close fr"></a>
            </div>
            <a href="notice.html" class="nav-item">公告</a>
            <a href="rule.html" class="nav-item">规则说明</a>
            <div class="nav-item user">
                <span>账户</span>
                <div class="dropdown">
                    <p>0xcd2a3d9f938e13cd947ec05abc7fe734df8dd826</p>
                </div>
            </div>
            <div class="nav-item balance">
                <span>ROFK余额</span>
                <div class="dropdown">
                    <p>240</p>
                </div>
            </div>
            <a href="javascript:;" class="nav-item signout">退出</a>
            <div class="hd-login clearfix">
                <a href="login.html">登录</a>
                <a href="register.html">注册</a>
            </div>
            <div class="nav-item recommend">
                <h4>推荐用户</h4>
                <div class="dropdown">
                    <img src="images/erweima.jpg">
                    <p>https://www.foomoo5d.com/index.php/Home/Login/main.html</p>
                    <a href="javascript:;" class="copy-btn">复制网址</a>
                </div>
            </div>
        </div>
    </div>
</div>