<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilei.mapper.PlayerMapper">
  <resultMap id="BaseResultMap" type="com.lilei.pojo.Player">
    <!--@mbg.generated-->
    <!--@Table pig_card.player-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="been" jdbcType="BIGINT" property="been" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, been, `exp`, `level`, user_id
  </sql>
</mapper>